<mat-toolbar color="primary">
  <span style="cursor: pointer;" routerLink="todos">Todo app</span>
  <span class="toolbar-spacer" ></span>

  @if(!auth.user()) {
      <button 
        routerLink="login"
        mat-button class="example-icon favorite-icon" 
        aria-label="Example icon-button with heart icon"
      >
        Log in
      </button>

      <button 
        routerLink="register"
        mat-button 
        class="example-icon favorite-icon" 
        aria-label="Example icon-button with heart icon"
      >
        Register
      </button>
  } 
  @else {
    <button 
      (click)="logout()"
      mat-button 
      class="example-icon favorite-icon" 
      aria-label="Example icon-button with heart icon"
    >
      Log out
    </button>
  }
  

</mat-toolbar>

<router-outlet />